.recipe {
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    display: flex;
    column-gap: 45px;

    height: 150px;
    width: auto;

    font-size: 1.5em;

    background-color: #1a1a1a;

    padding: 16px 50px 16px 30px;
    border-radius: 16px;
    border: 1px solid transparent;

    cursor: pointer;
    transition: border-color 0.25s;
}

.recipe:hover {
    border-color: #464aa1;
}

.right-container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    height: 100%;
    width: auto;
}

.name {
    margin: 0;
    overflow: visible;
    white-space: nowrap;
}

.ingredients-container {
    display: flex;
    column-gap: 40px;

    width: auto;
}

img {
    user-select: none;
    max-width: 120px;
    object-fit: contain;

    transform: translateZ(0);
    backface-visibility: hidden;
}

.ingredient-image {
    height: 60px;
    width: auto;
}

.quantity-label {
    font-weight: bold;
    text-shadow: #000 5px 5px 5px;
    -webkit-font-smoothing: antialiased;

    z-index: 10;
    user-select: none;

    margin-left: -10px;
    margin-top: 25px;

    font-size: 38px;
}

.item-image .quantity-label {
    margin-top: 90px;
    margin-left: -10px;

    font-size: 50px;
}