.recipe {
    display: flex;
    column-gap: 40px;

    height: 65px;
    width: auto;
    
    text-align: start;
    font-size: 0.9em;

    background-color: #1a1a1a;

    padding: 20px 25px 20px 20px;
    border-radius: 16px;
    border: 1px solid transparent;

    cursor: pointer;
    transition: border-color 0.25s;
}

.recipe h2 {
    margin-top: -10px;
}

.recipe:hover {
    border-color: #464aa1;
}

.right-recipe-side {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.name {
    margin: 0;
    overflow: visible;
    white-space: nowrap;
}

.ingredients-container {
    display: flex;
    column-gap: 30px;
}

img {
    user-select: none;
    max-width: 120px;
    object-fit: contain;

    transform: translateZ(0);
    backface-visibility: hidden;
}

.ingredient-image {
    height: 35px;
    width: auto;
}

.quantity-label {
    font-weight: bold;
    font-size: 1.15em;

    text-shadow: #000 5px 5px 5px;
    -webkit-font-smoothing: antialiased;

    z-index: 10;
    user-select: none;

    align-self: flex-end;
    margin-bottom: -9px;
    margin-left: -4px;
}

.left-recipe-side .quantity-label {
    margin-bottom: -15px;
    margin-left: -10px;

    font-size: 1.75em;
}