.recipe {
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    display: flex;
    column-gap: 45px;

    height: 150px;
    width: auto;

    font-size: 1.5em;

    background-color: #1a1a1a;

    padding: 16px 50px 16px 30px;
    border-radius: 16px;
    border: 1px solid transparent;

    cursor: pointer;
    transition: border-color 0.25s;
}

.recipe:hover {
    border-color: #464aa1;
}

.right {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    height: 100%;
    width: auto;
}

h2.name {
    margin: 0;
    overflow: visible;
    white-space: nowrap;
}

.ingredients {
    display: flex;
    column-gap: 40px;

    width: auto;
}

img {
    user-select: none;
}

img.item {
    height: 100%;
    width: auto;
}

.item-small {
    height: 60px;
    width: auto;

    transform: translateZ(0);
    backface-visibility: hidden;
}