@use '../../styles/mixins.scss';

.recipe-browser {
	display: flex;
	flex-direction: column;

	.recipes-container {
    	display: flex;
    	flex-direction: row;
    	align-items: start;
    	flex-wrap: wrap;
    	gap: 20px;

    	overflow-y: auto;
    	overflow-x: hidden;

    	direction: rtl;
    	justify-content: left;
    	padding-left: 2vw;

    	scroll-snap-type: y mandatory;
    	scroll-behavior: smooth;

  		max-height: calc(100vh
			- 150px		/* Header */
		 	- 30px		/* Search bar */
		 	- 50px		/* Recipe broeser page selector */
		 	- 40px		/* Search bar padding + margin */
		 	- 50px		/* Header padding */
		);
	}

	.recipes-container > * {
  		direction: ltr;
	}

	.page-selector {
  		height: 50px;
		gap: 20px;
		margin-top: 10px;

  		display: flex;

  		align-items: center;
  		justify-content: center;

		button {
			@include mixins.card;
		}
	}
}