.recipe-browser {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;

    max-height: calc(100vh - 90px - 150px - 60px - 30px - 20px);

    overflow-y: auto;
    overflow-x: hidden;
}