.list-element-container {
  display: flex;
  justify-content: center;
  gap: 25px;

  background-color: #1a1a1a;
  padding: 10px;
  border-radius: 15px;
}

.list-element-container img {
  height: 30px;
}

.list-element-container span {
  font-size: 1.2em;
  font-weight: bold;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 250px;
}