.search-bar-container {
    height: 50px;

    margin: 15px 0 15px 0;
    padding: 5px 0 5px 0;

    display: flex;
    gap: 20px;

    align-items: center;
    justify-content: center;
}

.search-bar-container input[type='text'] {
    width: 300px;
}

.search-bar-container span {
    font-size: 1.2em;
    margin-top: -3px;
    margin-left: 10px;
}