.search-bar-container {
    height: 50px;

    margin: 15px 0 15px 0;
    padding: 5px 0 5px 0;

    display: flex;
    gap: 50px;

    align-items: center;
    justify-content: center;
}

.search-bar-container input[type='text'] {
    width: 300px;
    padding-right: 40px;
}

.search-box-container {
    display: flex;
    align-items: center;
    position: relative;
}

.clear-search-icon {
    width: 40px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    color: rgba(255, 255, 255, 0.411);
    cursor: pointer;

    transition: color 0.3s ease, transform 0.3s ease;
    transform-origin: center;
    will-change: transform;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.clear-search-icon:hover {
    color: rgba(255, 255, 255, 0.562);
    transform: scale(1.1);
}

.clear-search-icon svg {
    height: 50%;
    width: auto;
}

.checkbox-container {
    display: flex;
    gap: 15px;

    align-items: center;
    margin-top: -5px;
}

.checkbox-container span {
    font-size: 1.1em;
    margin-top: -5px;
}