.sidebar {
    padding: 10px 0 10px 10px;
    background-color: #24242400;

    width: 25%;

    --light-gray: #333333;
}

.tab-container {
    display: flex;
    justify-content: start;
}

.tab-button {
    border-radius: 10px 10px 0px 0px;
    border: 2px solid #222222;

    transition: background-color 0.4s, border 0.3s;

    font-weight: bold;
    
    height: 45px;

    display: flex;
    align-items: center;
    gap: 12px;
    
    overflow: hidden;
    width: auto;
}

.tab-button-active {
    background-color: var(--light-gray);
    border: 2px solid var(--light-gray);
}

.tab-button:hover {
    border: 2px solid var(--light-gray);
}

.tab-button span {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.tab-icon {
    padding-top: 2px;
    height: 17px;
    width: 17px;
    flex-shrink: 0;
}

.tab-content {
    background-color: var(--light-gray);
    height: 100%;
    padding: 10px;
}