#root {
  margin: 0 auto;
  text-align: center;

  display: flex;
}

.left-side {
  margin-left: 2vw;
  margin-right: 2vw;
  width: 65%;
}

.header {
  padding-bottom: 30px;
  margin-bottom: 20px;
  background-color: #1a1a1a;
}

.header .icon {
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  height: 175px;
  width: auto;
}

.header h1 {
  margin: 0;
}