#root {
  width: 100%;
  text-align: center;

  display: flex;

  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.left-side {
  margin-right: 2vw;
  width: 75%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-left: 2vw;

  padding-bottom: 30px;

  background: #161616;

  height: 150px;
}

.header .icon {
  height: 175px;
  width: auto;
}

.header h1 {
  margin: 0;
}